html {
  scroll-behavior: smooth;
}

.nav-item:hover {
  color: #1da1f2;
}

.fade-in {
  animation: fadeIn 2s ease-in;
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInLeft 1s forwards;
}

.slide-in-right {
  opacity: 0;
  transform: translateX(100%);
  animation: slideInRight 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
